
*{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    header{
        padding: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    main{
        flex: 1;
        display: flex;
        flex-direction: row;
        .formatPanel{
            width: clamp(10rem,20%,150rem);
            background-color: black;
            height: 100%;
            overflow: hidden;
        }
        .displayPanel{
            width: 100%;
            height: 100%;
            padding: 1rem;
             display: flex;
             flex-direction: column;
             overflow: auto;
            .item{
                width: 100%;
                height: 15rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: row;
                padding: 0.8rem;

                #itemPicture{
                    width: clamp(15rem,40%,25rem);
                    padding: 1rem;
                    background-color: aliceblue;
                    border-radius: 1rem;
                }
                #itemDescription{
                    width: clamp(30rem,60%,70rem);
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    #itemCompany{
                        font-weight: 800;
                        font-size: 0.8rem;
                    }
                    #itemName{
                        font-size: 1.5rem;
                    }
                    #itemPrice{
                        font-size: 1rem;
                    }
                    #itemRating{
                        font-size: 0.7rem;
                        color: greenyellow;
                    }
                }
            }
        }
    }
}